*
{
    margin: 0%;
    padding: 0%;
}
body
{
    height: 100vh;
    background-color: #4335a7;
}
nav
{
    width: 100%;
    height: 75px;
    background-color: #fff6e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarlogo
{
    font-size: 32.5px;
    font-weight: 900;
    font-family: sans-serif;
    margin-right: auto;
}
ul
{
    list-style: none;
}
li
{
    float: left;
    padding: 5px;
}
.navbutton
{
    width: 250px;
    height:50px;
    border-radius: 25px;
    border: none;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    font-family: sans-serif;
    background-color: #ff7f3e;
    position: relative;
    color: #FFF6E9;
}
.navbutton:hover
{
    outline-width: 5px;
    outline: 5px solid #ff7f3e;
    border:3px solid white;
}
.game_list_container
{
    width: 100%;
    height: auto;
    background-image: linear-gradient(-45deg,#80c4e9,#4335a7);
}
.game_title
{
    width: 100%;
    height: 95px;
    font-size: 80px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff6e9;
}
.game_details
{
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    padding-top: 15px;
}
.game_list
{
    width: 100%;
    height: 100vh;
    padding: 5px;
}
.game_no_1
{
    width: 700px;
    height: 290px;
    background-color:#FFF6E9;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game_image
{
    width:250px;
    height: 250px;
    border-radius: 40px;
}
.game_image_1,.game_image_2
{
    width: 250px;
    height: 250px;
    border-radius: 40px;
}
.game_info
{
    width:400px;
    height: 250px;
    border-radius: 40px;

}
.game_heading
{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
}
.game_description
{
    font-size: 19px;
    text-align: justify;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 22px;
}
.button_container
{
    width: 100%;
    height: 60px;
    border-radius: 70px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_play
{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    background-color: #80c4e9;
    border: none;
    color: black;
}
.game_play:hover
{
    outline-width: 5px;
    outline: 5px solid  #80c4e9;
    border:7px solid #4335a7;

}
.updatelist
{
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding: 45px;
}